html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
.top-panel{
    width: 100%;
    height: 50px;
    background-color: #525457;
}
.hp{
    position: relative;
    width: 100px;
    height: 100px;
    background-color:#fff;
    left:60px;
    top:-70px;
}
.nowhp{
    position: relative;
    width: 100px;
    height: 100px;
}
.edit-box{
    position: relative;
    width:740px;
    height:600px;
    left:200px;
    top:-80px;
}
.subbutton{
    position: relative;
    text-align:center
}

.container_form{
    width: 100px
}

.a-upload {
    padding: 4px 10px;
    height: 20px;
    line-height: 20px;
    position: relative;
    cursor: pointer;
    color: #888;
    background: #fafafa;
    border: 1px solid #ddd;
    border-radius: 4px;
    overflow: hidden;
    display: inline-block;
    *display: inline;
    *zoom: 1
}

.a-upload  input {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    cursor: pointer
}

.a-upload:hover {
    color: #444;
    background: #eee;
    border-color: #ccc;
    text-decoration: none
}

.file {
    position: relative;
    display: inline-block;
    background: #D0EEFF;
    border: 1px solid #99D3F5;
    border-radius: 4px;
    padding: 4px 12px;
    overflow: hidden;
    color: #1E88C7;
    text-decoration: none;
    text-indent: 0;
    line-height: 20px;
}
.file input {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
}
.file:hover {
    background: #AADFFD;
    border-color: #78C3F3;
    color: #004974;
    text-decoration: none;
}

#input-file {
    position: relative; /* 保证子元素的定位 */
    width: 120px;
    height: 30px;
    background: #eee;
    border: 1px solid #ccc;
    text-align: center;
    cursor: pointer;
}

#text {
    display: inline-block;
    margin-top: 5px;
    color: #666;
    font-family: "黑体";
    font-size: 18px;
}

#file {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 120px; /* 宽高和外围元素保持一致 */
    height: 30px;
    opacity: 0;
    -moz-opacity: 0;  /* 兼容老式浏览器 */
    filter: alpha(opacity=0); /* 兼容IE */
}