.containerjob{
    top: -30%;
    width: 50%;
    left: 25%;
    position: relative;
}
#accordion{
    top: 0%;
    width: 100%;
    position: relative;
    left: 0;
    margin: 0;
    align-content: center;     
}
.card-header{
    height: 70px;
    position: relative;
    box-shadow: 0px 1px 3px rgba(26, 26, 26, 1);
}

.image{
    left: 10%;
    width: 10%;
    filter: brightness(70%);
    border-radius: 30%;
    position: relative;
    top: 5%;
}
.im{
    width: 130px;
    height: 130px;
    border-radius: 30%;
    position: relative;
}
html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
.box{
    top: 3%;
    width: 100%;
    height: 100%;
    position: relative;

}
.btnconrainer{
    left:12%;
    top: 7%;
    width: 10%;
    position: relative;
}
.recommend{
    left: 80%;
    width: 20%;
    position: relative;
}