.image{
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    position: absolute;
    width: 100px;
    height: 100px;
    top:200px;
    left: 100px;
    z-index: 1;
    filter: brightness(70%);
}
.card1 {
    position:absolute;
    padding: 10px;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
}
.card1-header{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 20%;
    border-radius: 5px;
}
.card1-body{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 20%;
    border-radius: 5px;
}
.card1-footer{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 20%;
    border-radius: 5px;
}
html{
    width: 100%;
    height: 100%;
    padding:0;
    border: 0;
}
body{
    width: 100%;
    height: 100%;
    padding:0;
    border: 0;
}

.container1{
    position: absolute;
    top: 200px;
    right: 250px;
    width: 100px;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
}