html {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}
body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}
.container {
    height: 100%;
}
.bg{
    background-image: url("../bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    z-index: -1;
    filter: brightness(70%);
}
div.logo {
    position: relative;
    top: 10%;
}
p.title {
    font-size: 130px;
    color:rgb(241, 239, 239);
    font-family:Arial,Helvetica,sans-serif;
    text-align: center;
}
p.word{
    font-size: 40px;
    color:rgb(241, 239, 239);
    font-family:Arial,Helvetica,sans-serif;
    text-align: center;
    margin-top:70px;
}
.panel {
    width: 800px;
    height: 100%;
    margin:0 auto;
    
}

.a {
    width: 280px;
    text-align: center;
    border: 0；
}
.b {
    width: 250px;
    height: 45px;
    background-color: rgba(88, 88, 88, 0.582);
    border: 0;
    color: rgb(255, 255, 255);
}
.c {
    margin-top: 10px;
    width: 250px;
    background-color: rgba(88, 88, 88, 0.582);
    color: rgb(255, 255, 255);
    font-family:Arial,Helvetica,sans-serif;
    border: 0;
}
.d {
    margin: 5px;
    color: white;
}
.c:hover {
    background-color: rgb(255, 78, 78);
}
.register {
    margin-top: 45px;
    text-align:center;
}
#p {
    background-color: rgba(88, 88, 88, 0.582);
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-family:Arial,Helvetica,sans-serif;
    border: 0;
}
#p:hover {
    background-color: rgb(255, 78, 78);
}