<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/edit.css">
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/popper.js/1.12.5/umd/popper.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <title>Hello, world!</title>
</head>


<body>
<div class="top-panel"></div>
<div class="container">
    <form id="form" action="./edit" method="post">
        <div>
            <img name="image" src="http://static.runoob.com/images/mix/img_mountains_wide.jpg">
        </div>
        <div>
            <img name="photo" src="/favicon.ico">
        </div>
    <table>
        <tr>
            <th>sex</th>
            <th><input name="sex" class="profile" th:value="${UserDetail.email}"></th>
        </tr>
        <tr>
            <th>introduction</th>
            <th><input name="introduction" class="profile" th:value="${UserDetail.introduction}"></th>
        </tr>
        <tr>
            <th>email</th>
            <th><input name="email" class="profile" th:value="${UserDetail.email}"></th>
        </tr>
        <tr>
            <th>hobby</th>
            <th><input name="hobby" class="profile" th:value="${UserDetail.hobby}" </th>
        </tr>
        <tr>
            <th>university</th>
            <th><input name="university" class="profile" th:value="${UserDetail.university}"> </th>
        </tr>
        <tr>
            <th>major</th>
            <th><input name="major" class="profile" th:value="${UserDetail.major}" </th>
        </tr>

    </table>
        <button>submit</button>
    </form>
</div>

</body>
</html>