<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table border="1" bgcolor="#f0ffff">
    <thead>
    <tr>
        <th>序号</th>
        <th>标题</th>
        <th>摘要</th>
        <th>创建时间</th>
    </tr>
    </thead>
    <tr>
        <td th:text="${userDetail.email}"></td>
        <td th:text="${userDetail.hobby}"></td>
        <td th:text="${userDetail.major}"></td>
        <td th:text="${userDetail.image}"></td>
    </tr>
</table>
</body>
</html>