<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="myspace.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <script>
        function backhome() {
            window.location.href = "myspace.html";
        }
    </script>
    <title>myspace</title>
</head>

<body>
    <div class="container">
        <div>顶部栏</div>
        <di class="naa">
            <div>
                <img class="image" src="2.jpg" onclick="backhome()">
            </div>
            <div class="navv">
                <u1 class="nav nav-pills justify-content-center">
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="pill" href="myfollow.html">我的关注</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="pill" href="follow.html">关注我的</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="pill" href="star.html">我的收藏</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="pill" href="hands.html">我的二手</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="pill" href="job.html">我的兼职</a>
                    </li>
                </u1>
            </div>
    </div>

    <div class="btnconrainer">
        <a href="#" class="btn btn-info" role="button">编辑信息</a>
    </div>
    <div class="action">
        <div class="card  bg-light text-dark">
            <div class="card-body">
                好友1
            </div>
        </div>
        <br>
        <div class="card  bg-light text-dark">
            <div class="card-body">
                好友2
            </div>
        </div>
        <br>
        <div class="card  bg-light text-dark">
            <div class="card-body">
                好友3
            </div>
        </div>
        <br>
        <div class="card  bg-light text-dark">
            <div class="card-body">
                好友4
            </div>
        </div>
        <br>
        <div class="card  bg-light text-dark">
            <div class="card-body">
                好友5
            </div>
        </div>
    </div>
    </div>
</body>

</html>