<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../static/css/people.css">
    <link rel="stylesheet" href="../static/css/toppanel.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <script>
        function backhome() {
            window.location.href = "myspace.html";
        }
    </script>
    <title>hands</title>
</head>

<body>
<nav id="nav" class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav link">
        <li class="nav-item active">
            <a class="nav-link text" href="profession.html">专业</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link text" href="job">兼职</a>
        </li>
        <li id="hp" class="nav-item active">
            <div class="nav-link">
                <div class="dropdown">
                    <!--<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">-->
                    <img class="btn btn-primary dropdown-toggle" data-toggle="dropdown" src="../static/2.jpg">
                    <!--</button>-->
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="people.html">主页</a>
                        <a class="dropdown-item" href="edit.html">设置</a>
                        <a class="dropdown-item" href="login.html">Log out</a>
                    </div>
                </div>
            </div>
        </li>

    </ul>
</nav>
<div class="container">
    <div class="naa">
        <div>
            <img class="image" src="../static/2.jpg">
            <div class="btnconrainer">
                <a href="/people/edit" class="btn btn-info" role="button">编辑信息</a>
            </div>
        </div>
        <div class="navv">
            <u1 class="nav nav-pills justify-content-center">
                <li class="nav-item">
                    <a class="nav-link" data-toggle="pill" href="myfollow.html">我的关注</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="pill" href="follow.html">关注我的</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="pill" href="star/star.html">我的收藏</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="pill" href="second-hand.html">二手/兼职</a>
                </li>
            </u1>
        </div>
    </div>
    <div class="action">
        <div class="card  bg-light text-dark">
            <div class="card-body">
                2手
            </div>
        </div>
        <br>
        <div class="card  bg-light text-dark">
            <div class="card-body">
                2手
            </div>
        </div>
        <br>
        <div class="card  bg-light text-dark">
            <div class="card-body">
                2手
            </div>
        </div>
        <br>
        <div class="card  bg-light text-dark">
            <div class="card-body">
                2手
            </div>
        </div>
        <br>
        <div class="card  bg-light text-dark">
            <div class="card-body">
                2手
            </div>
        </div>
    </div>
</div>
</div>

</body>

</html>