<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="../static/css/home.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <script src="../static/js/url.js"></script>
    <script src="../static/js/home.js"></script>
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/popper.js/1.12.5/umd/popper.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <title>Hello, world!</title>
    <script src="../static/js/url.js"></script>
    <script src="../static/js/home.js"></script>

</head>

<body>
<div class="top-panel"></div>
<div class="container">

    <!--轮播-->
    <div id="top" class="carousel slide" data-ride="carousel">

        <!-- 指示符 -->
        <ul class="carousel-indicators">
            <li data-target="#top" data-slide-to="0" class="active"></li>
            <li data-target="#top" data-slide-to="1"></li>
            <li data-target="#top" data-slide-to="2"></li>
        </ul>

        <!-- 轮播图片 -->
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="http://static.runoob.com/images/mix/img_fjords_wide.jpg">
            </div>
            <div class="carousel-item">
                <img src="http://static.runoob.com/images/mix/img_nature_wide.jpg">
            </div>
            <div class="carousel-item">
                <img src="http://static.runoob.com/images/mix/img_mountains_wide.jpg">
            </div>
        </div>

        <!-- 左右切换按钮 -->
        <a class="carousel-control-prev" href="#top" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#top" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>

    </div>

    <!-- 动态发布 -->
    <div id="dropdown" class="dropdown">

        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
            发送动态
        </button>
        <div id="dropdown-menu" class="dropdown-menu">
            <button type="button" onclick="selectac('rc','日常')" class="btn btn-primary dropdown-item di"
                    data-toggle="modal" data-target="#rc">
                日常
            </button>
            <button type="button" onclick="selectac('rs', '二手')" class="btn btn-primary dropdown-item di"
                    data-toggle="modal" data-target="#rs">
                二手
            </button>
            <button type="button" onclick="selectac('zp', '招聘')" class="btn btn-primary dropdown-item di"
                    data-toggle="modal" data-target="#zp">
                招聘
            </button>
            <button type="button" onclick="selectac('jz', '兼职')" class="btn btn-primary dropdown-item di"
                    data-toggle="modal" data-target="#jz">
                兼职
            </button>
        </div>
    </div>

    <!-- 模态框 -->
    <div class="modal fade" id="id">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- 模态框头部 -->
                <div class="modal-header">
                    <h4 class="modal-title">
                        日常
                    </h4>
                    <button type="button" class="close" data-dismiss="modal">
                        &times;
                    </button>
                </div>
                <!-- 模态框主体 -->

                <form id="form">
                    <div class="modal-body">
                        <textarea title="form" id="content" name="content" rows="10" cols="48">
                            输入动态...
                        </textarea>
                    </div>
                </form>
                <!-- 模态框底部 -->
                <div class="modal-footer">
                    <button onclick="message()" id="submit" type="submit" class="btn btn-secondary" data-dismiss="modal">
                        发送
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>