<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="../static/css/home.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <script src="../static/js/url.js"></script>
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/popper.js/1.12.5/umd/popper.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <title>Hello, world!</title>


</head>

<body>
<div class="top-panel"></div>
<div class="container">

    <!--轮播-->
    <div id="top" class="carousel slide" data-ride="carousel">

        <!-- 指示符 -->
        <ul class="carousel-indicators">
            <li data-target="#top" data-slide-to="0" class="active"></li>
            <li data-target="#top" data-slide-to="1"></li>
            <li data-target="#top" data-slide-to="2"></li>
        </ul>

        <!-- 轮播图片 -->
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="http://static.runoob.com/images/mix/img_fjords_wide.jpg">
            </div>
            <div class="carousel-item">
                <img src="http://static.runoob.com/images/mix/img_nature_wide.jpg">
            </div>
            <div class="carousel-item">
                <img src="http://static.runoob.com/images/mix/img_mountains_wide.jpg">
            </div>
        </div>

        <!-- 左右切换按钮 -->
        <a class="carousel-control-prev" href="#top" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#top" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>

    </div>

    <!-- 动态发布 -->
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#home">日常</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#menu1">二手</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#menu2">求职</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#menu3">招聘</a>
        </li>
    </ul>
    <form action="" method="post">
        <div class="tab-content">
            <div id="home" class="container tab-pane active"><br>
                <div>
                    <input class="updating" name="updating" type="text" required="" placeholder="">
                </div>
            </div>
            <div id="menu1" class="container tab-pane fade"><br>
                <input class="updating" name="updating" type="text" required="" placeholder="">
            </div>
            <div id="menu2" class="container tab-pane fade"><br>
                <input class="updating" name="updating" type="text" required="" placeholder="">
            </div>
            <div id="menu3" class="container tab-pane fade"><br>
                <input class="updating" name="updating" type="text" required="" placeholder="">
            </div>
        </div>
        <div id="s_button_d">
            <button id="s_button">submit</button>
        </div>
    </form>

    <!--people-->
    <div class="activity-push">
        <div class="card bg-secondary text-white">

        </div>

    </div>
</div>
</body>

</html>