<!DOCTYPE html>
<html>

<head>
    <title>message</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../../../../../../下载/7message/message.css">
    <script src="https://cdn.bootcss.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/popper.js/1.12.5/umd/popper.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container">
        <div class="box">
            <div class="backimg"></div>
            <br>
            <div class="hp">
                <img src="../../../../../../../下载/7message/im.jpg" class="hpinner">
            </div>
            <div class="btn">
                <ul class="nav nav-pills" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#home">关注</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab"> </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#menu1">私信</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab"> </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#menu2">回复</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="contentbox">
            <div class="tab-content">
                <div id="home" class="container tab-pane active">
                    <div class="follower">
                        <div class="card">
                            全栈工程师关注了你
                        </div>
                        <br>
                        <div class="card">
                            石泽远关注了你
                        </div>
                        <br>
                        <div class="card">
                            刘媛关注了你
                        </div>
                        <br>
                        <div class="card">
                            于田关注了你
                        </div>
                        <br>
                    </div>
                </div>
                <div id="menu1" class="container tab-pane fade">
                    <div class="mes">
                        <div class="btnn">
                            <div class="btn">
                                <ul class="nav nav-pills">
                                    <li class="nav-item">
                                        <a class="nav-link active" data-toggle="tab" href="#p1">p1</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="#p2">p2</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="#p3">p3</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="#p4">p4</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="tab-content">
                            <div id="p1" class="container tab-pane active">
                                <div class="mescard">
                                     p1p1p1
                                </div>
                            </div>
                            <div id="p2" class="container tab-pane fade">
                               <div class="mescard">
                                    p2p2p2       
                            </div>
                            </div>
                            <div id="p3" class="container tab-pane fade">
                                <div class="mescard">
                                    p3p3p3
                                </div>
                            </div>
                            <div id="p4" class="container tab-pane fade">
                                <div class="mescard">
                                    p4p4p4p
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div id="menu2" class="container tab-pane fade">
                    <div class="reply">
                        <div class="card">
                            回复！
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $(document).foundation();
        })
    </script>
</body>

</html>