<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../static/css/people.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <script>
        function backhome() {
            window.location.href = "people.html";
        }
    </script>
    <title>myspace</title>
</head>

<body>
<div class="container">
    <div>顶部栏</div>
    <div class="naa">
        <div>
            <img class="image" src="../static/2.jpg">
            <div class="btnconrainer">
                <a href="/people/edit" class="btn btn-info" role="button">编辑信息</a>
            </div>
        </div>
        <div class="navv">
            <u1 class="nav nav-pills justify-content-center">
                <li class="nav-item">
                    <a class="nav-link" data-toggle="pill" href="myfollow.html">我的关注</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="pill" href="follow.html">关注我的</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="pill" href="star.html">我的收藏</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="pill" href="second-hand.html">二手/兼职</a>
                </li>
            </u1>
        </div>
    </div>

    <div class="fanlist">
        <div class="onefan" th:each="userDetail:${userDetailList}">
            <!--粉丝列表头像-->
            <div class="action1">
                <a id="fansimageurl" th:href="'/people/activities/' + ${userDetail.uid}">
                    <img id="fansimage" th:src="${userDetail.image}">
                </a>
            </div>


            <!--粉丝列表-->
            <div class="action2">
                <div class="card  bg-light text-dark">
                    <ul class="card-body">
                        <li class="nav-item">
                            <a class="username" data-toggle="pill"> this is username </a>
                            <!--<a class="username" th:text="${userDetail.username}" data-toggle="pill"></a>-->
                        </li>
                        <li class="nav-item">
                            <a class="introduction" th:text="${userDetail.introduction}" data-toggle="pill"></a>
                        </li>
                    </ul>
                </div>
                <br>
            </div>
        </div>
    </div>
</div>
</body>

</html>