<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="../static/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../static/css/people.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <title>myspace</title>
</head>

<body>
<div class="top-panel"></div>
<div class="container">

    <div class="naa">
        <div>
            <img class="image" src="../static/2.jpg">
            <div class="btnconrainer">
                <a href="#" class="btn btn-info" role="button">编辑信息</a>
            </div>
        </div>
        <div class="navv">
            <u1 class="nav nav-pills justify-content-center">
                <li class="nav-item">
                    <a class="nav-link" data-toggle="pill" href="myfollow.html">我的关注</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="pill" href="follow.html">关注我的</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="pill" href="star.html">我的收藏</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="pill" href="hands.html">我的二手</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="pill" href="job.html">我的兼职</a>
                </li>
            </u1>
        </div>
    </div>


    <div class="action">
        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
            <legend>个人动态</legend>
        </fieldset>
        <ul class="layui-timeline">

            <li th:each="a:${activities}" class="layui-timeline-item">
                <i class="layui-icon layui-timeline-axis"></i>
                <div class="layui-timeline-content layui-text">
                    <h3 class="layui-timeline-title" th:text="${a.created}"></h3>
                    <div class="card  bg-light text-dark">
                        <div class="card-body">
                            <p th:text="${a.content}"></p>
                            <p th:text="${a.likes}"></p>
                        </div>
                    </div>
                </div>
            </li>
            <li class="layui-timeline-item">
                <i class="layui-icon layui-timeline-axis"></i>
                <div class="layui-timeline-content layui-text">
                    <div class="layui-timeline-title"><end></end></end></div>
                </div>
            </li>
        </ul>
        <script src="../static/layui/css/layui.css" charset="utf-8"></script>
        <script>
        </script>
    </div>
</div>
</body>

</html>