<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../static/css/register.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">

    <title>Register</title>
</head>

<body>
<div class="bg"></div>
<div class="container">
    <div class="logo">
        <p class="title">LinkingOut</p>
    </div>
    <div>
        <p class="word">REGISTER</p>
    </div>
    <form action="/register" method="post">
        <div class="register">
            <input name="tel" type="tel" class="a b" placeholder="Telephone" required="">
            <br>
            <input name="username" type="text" class="a b" placeholder="Username" required="">
            <br>
            <input name="password" type="password" class="a b" placeholder="Password" required="">
            <br>
            <button type = "submit" class="btn font-weight-bold c">NEXT</button>
            <br>
        </div>
    </form>
    <a href="/login">
        <button class="btn font-weight-bold c">登录已有账号</button>
    </a>
</div>
</body>


</html>