<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../static/css/myspace.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <script>
        function backhome() {
            window.location.href = "myspace.html";
        }
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/popper.js/1.12.5/umd/popper.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <title>myspace</title>
</head>

<body>
    <div class="container">
        <div>顶部栏</div>
        <di class="naa">
            <div>
                <img class="image" src="2.jpg" onclick="backhome()">
            </div>
            <div class="navv">
                <u1 class="nav nav-pills justify-content-center">
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="pill" href="myfollow.html">我的关注</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="pill" href="follow.html">关注我的</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="pill" href="star.html">我的收藏</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="pill" href="hands.html">我的二手</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="pill" href="job.html">我的兼职</a>
                    </li>
                </u1>
            </div>

    <div class="btnconrainer">
        <a href="#" class="btn btn-info" role="button">编辑信息</a>
    </div>

    <div class="action3">
        <div class="card  bg-light text-dark">
            <div class="card-body">
                <li class="nav-item">
                    <a class="Q" data-toggle="pill" href="">我收藏的问题</a>
                    <p>回答</p>
               </li>
            </div>
        </div>
        <br>
        <div class="card  bg-light text-dark">
            <div class="card-body">
                <li class="nav-item">
                    <a class="Q" data-toggle="pill" href="">我收藏的问题</a>
                    <p>回答</p>
               </li>
            </div>
        </div>
        <br>
        <div class="card  bg-light text-dark">
            <div class="card-body">
                <li class="nav-item">
                    <a class="Q" data-toggle="pill" href="">我收藏的问题</a>
                    <p>回答</p>
               </li>
            </div>
        </div>
        <br>
        <div class="card  bg-light text-dark">
            <div class="card-body">
                <li class="nav-item">
                    <a class="Q" data-toggle="pill" href="">我收藏的问题</a>
                    <p>回答</p>
               </li>
            </div>
        </div>
        <br>
        <div class="card  bg-light text-dark">
            <div class="card-body">
                <li class="nav-item">
                    <a class="username" data-toggle="pill" href="">我收藏的问题</a>
                    <p>回答</p>
               </li>
            </div>
        </div>
    </div>

    <div class="container1">
        <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#demo">我收藏的资源</button>
        <div id="demo" class="collapse">
            <li class="nav-item">
            <a class="resources" data-toggle="pill" href="" style="font-size:30px">资源1</a>
            </li>
            <li class="nav-item">
            <a class="resources" data-toggle="pill" href="" style="font-size:30px">资源2</a>
            </li>
            <li class="nav-item">
            <a class="resources" data-toggle="pill" href="" style="font-size:30px">资源3</a>
            </li>
        </div>
    </div>   
    </di>
    </div>
</body>

</html>